.form-row {
    @apply py-2
}

.form-row:last-child {
    @apply pb-0
}

.form-label {
    @apply  text-sm font-medium 
            text-gray-900 
            block mb-2 
            dark:text-gray-300
}

.form-input {
    @apply  bg-gray-50 border 
            border-gray-300 
            text-gray-900 
            sm:text-sm 
            rounded-lg 
            focus:ring-blue-500 
            focus:border-blue-500
            outline-none 
            block 
            w-full 
            p-1.5 
            dark:bg-gray-600 
            dark:border-gray-500 
            dark:placeholder-gray-400 
            dark:text-white
}

.form-btn-submit {

    @apply  text-white 
            bg-blue-700 
            hover:bg-blue-800 
            focus:ring-4 
            focus:ring-blue-300 
            font-medium 
            rounded-lg 
            text-sm 
            px-5 
            py-2.5 
            text-center 
            dark:bg-blue-600 
            dark:hover:bg-blue-700 
            dark:focus:ring-blue-800 

}
